.dropdown {
  position: relative;
  left: 30%;
  margin: 10px 0 0 10vw;
  width: 150px;
}
.dropdownButton {
  position: relative;
  z-index: 2;
}
.button {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 0 16px;
  height: 64px;
  border-radius: 6px;
  background-color: #624d76;
  border: 0;
  font-size: 18px;
}
.menu {
  position: absolute;
  overflow: hidden;
  z-index: 1;
  top: 61px;
  left: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  border-radius: 0 0 6px 6px;
  transform: translate(0, -20px);
  transition: 0.4s;
}
.dropDownMenuButton {
  height: 56px;
  width: 100%;
  border-radius: 0;
}
.openButton {
  background: #7e46b3;
}
.openMenu {
  opacity: 1;
  visibility: visible;
  transform: translate(0, 5px);
}
